
.nav{
    display: flex;
    align-items: center;
    background-color: rgb(80, 76, 76);
    justify-content: space-between;
    color: white;
    padding: 0 10px;
    font-family:'Roboto', sans-serif; 
}

nav ul{
    display: flex;
    gap: 1.5em;
    list-style-type: none;
    justify-content: flex-end;
}

.container{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}

li a{
    color: white;
    text-decoration: none;
}

.btn{
    color: white;
    background-color: lightskyblue;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

